@import url('bootstrap/dist/css/bootstrap.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input-error {
    border-color: #fc8181;
}

.error {
    color: #fc8181;
    font-size: 12px;
    text-align: left;
}

.btn-warning {
    background-color: #dee0ea;
    border-color: #dee0ea;
    margin-right: 10px;
}

.btn-warning:hover{
    background-color: rgba(255, 222, 173, 0.867);
}

.btn-info {
    background-color: #f1a10d;
    border-color: #f1a10d;
}

.btn-info:hover {
    background-color: rgba(255, 222, 173, 0.867);
}

.btn-danger {
    margin-top: 20px;
    width: 232px;
}