.cart-container, .cart-table {
    background-color: #041e2f;
}

.cart-container { 
    width: 100%;
    height: auto;
    background-color: #041e2f;
}

.cart-container .cart-title {
    padding: 50px;
    font-size: 60px;
    color: rgba(255, 222, 173, 0.867);
    display: flex;
    text-align: center;
    justify-content: center;
}

.cart-table {
    margin-left: 100px;
    margin-right: 100px;
}

.table {
    --bs-table-bg: #041e2f;
    margin-bottom: 0;
    --bs-table-border-color: rgba(255, 222, 173, 0.867);
}

.table tr th {
    color: rgba(255, 222, 173, 0.867);
}

.table tr td {
    color: #dee0ea;
}

.product-img {
    width: 200px;
    border-radius: 10px;
}

.product-title {
    width: 300px;
}

.product-desc {
    width: 500px;
    font-size: 14px;
}

.product-price {
    color: rgba(170, 240, 100, 0.974);
}

.product-quntity {
    width: 200px;
}

.product-total {
    width: 100px;
}

.button-adj {
    font-size: 12px;
    padding: 4px;
    margin: 15px;
}

.total-price {
    color: #dee0ea;
    margin-top: 34.5px;
    margin-right: 10px;
    display: flex;
    justify-content: right;
    width: 30%;
}

.product-delete-btn {
    position: absolute;
}

.fade-alert {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade-alert.hiding {
    opacity: 0;
}

.bottom {
    display: flex;
    height: 24.4vh;
}

.delete-div {
    width: 100%;
}

.delete-all-btn {
    margin-top: 30px;
    margin-left: 10px;
}

.empty-cart {
    height: 35.4vh;
    text-align: center;
}

.empty-message {
    text-align: center;
    color: #dee0ea;
    margin-top: 150px;
}

.empty-button {
    padding: 10px;
    width: 300px;
    margin-top: 40px;
}

@media (max-width: 768px) {
    .cart-container .cart-title {
        font-size: 55px;
    }
    .cart-table {
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 50px;
    }
    .product-img {
        width: 75px;
    }
    .button-main {
        position: relative;
    }
    .table tr th {
        font-size: 12px;
    }
    .product-desc {
        font-size: 5px;
    }
    .product-quantity {
        text-align: center;
    }
    .desc-head {
        display: none;
    }
    .product-desc {
        display: none;
    }
    .product-delete-btn {
        --bs-btn-padding-x: 0.1rem;
        --bs-btn-padding-y: 0.1rem;
        font-size: 12px;
    }
    .table tr td {
        font-size: 12px;
    }
    .button-adj {
        margin: 0;
        background-color: transparent;
        border: none;
        margin-left: 2px;
        margin-right: 2px;
    }
    .total-price {
        font-size: 12px;
    }
    .delete-all-btn {
        font-size: 12px;
    }
    .bottom {
        height: 30vh;
    }
}