.detailsMain {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #041e2f;
}

.details-title {
    padding: 50px;
    font-size: 60px;
    color: rgba(255, 222, 173, 0.867);
} 

.details-container {
    display: flex;
}

.details-left {
    display: flex;
    width: auto;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}

.details-left img {
    width: 507.5px;
    border-radius: 10px;
}

.details-head {
    color: #dee0ea;
    font-weight: bold;
    font-size: 30px;
}

.product-label {
    color: rgba(255, 222, 173, 0.867);
    margin-bottom: 10px;
    margin-top: 5px;
}

.details-desc {
    color: #dee0ea;
    width: 80%;
    font-size: 20px;
}

.details-price {
    color: rgba(170, 240, 100, 0.974);
    font-weight: bold;
    font-size: 40px;
}

.details-bottom {
    margin-top: 10px;
}

.loading-span {
    margin: 0;
}

.loading-container {
    height: 70vh;
    background-color: #041e2f;
    padding: 200px;
}

@media (max-width: 500px) {
    .details-title {
        font-size: 30px;
    }
    .details-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .details-left {
        justify-content: center;
        margin: 0;
        text-align: center;
        flex-direction: row;
    }
    .details-left img {
        width: 300px;
        text-align: center;
        margin-bottom: 10px;
    }
    .details-right {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 55px;
    }
    .product-label {
        font-size: 13px;
        width: 85%;
    }
    .details-head {
        font-size: 18px;
        width: 85%;
    }
    .details-desc {
        font-size: 12px;
        width: 85%;
        text-align: justify;
    }
    .details-price {
        font-size: 22px;
        width: 85%;
    }
    .details-bottom {
        display: flex;
        flex-direction: column;
        width: 85%;
        gap: 20px;
    }
    .btn-danger {
        margin: 0;
        margin-right: 10px;
    }
}