/* Shops Main */

.products {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #041e2f;
}

.products .productsTitle {
    padding: 50px;
    font-size: 50px;
    color: rgba(255, 222, 173, 0.867);
}

.productList {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

/* Shops Search */

.searchForm {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    width: 20%;
}

/* Shop Item */

.productItem {
    border-radius: 10px;
    width: 400px;
    height: 510px;
    margin: 20px;
    background-color: transparent;
    text-align: center;
    border: 1.1px solid #dee0ea39;
}

.productItem h4 {
    margin: 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-left: 50px;
    color: rgba(255, 222, 173, 0.867);
    margin-right: 50px;
    height: 40px;
}

.productItem p {
    margin-top: 10px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.89);
    text-align: left;
    margin-left: 50px;
    font-weight: bold;
}

.productItem .buttons {
    display: block;
    width: 200px;
    text-align: left;
    margin-left: 50px;
}

.productItem .image {
    margin-top: 20px;
    height: 300px;
    width: auto;
    border-radius: 10px;
}

/* Loading Section */

.loading-container {
    height: 46vh;
}

.loading-span {
    margin-top: 50px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

/* Alerts */

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vh;
}

.fade-alert {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade-alert.hiding {
    opacity: 0;
}

/* Shops & ShopItem - Responsive */

@media (max-width: 1200px) {
    .productList{
        display: flex;
        flex-direction: column; 
        width: 100%;
    }   
}

@media (max-width: 768px) {
    .productItem {
        width: 300px;
        height: 400px;
    }
    .productItem .image{
        height: 200px;
    }
    .productItem h4 {
        font-size: 14px;
    }
    .productItem p {
        font-size: 16px;
    }
    .btn-secondary {
        font-size: 10px;
        margin-right: 10px;
    }
    .searchForm {
        width: auto;
    }
    .footer {
        height: 195px;
    }
}