/* Navbar Main */

.navbar {
    width: 100%;
    height: 100px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: var(--white) 300px;
}

.navbar .main {
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar .productText {
    padding: 10px;
    font-size: 19px;
    color: var(--dark-white);
}

.navbar .productLogo {
    height: 90px;
    margin-left: 50px;
}

.navbar .mainLink {
    margin-left: auto;
    margin-right: 50px;
}

.navbar .product-image {
    height: 90px;
}

.navbar .main .dropdown img {
    height: 25px;
    width: 25px;
    border-radius: 5px;
}

.navbar .navbar-item {
    color: var(--dark-white);
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.navbar a:hover,
.navbar a.active {
    color: var(--secondary-color);
}

.navbar .LinkMain {
    text-align: center;
    align-items: center;
    width: 70%;
}

/* Icon */

.shopIcon {
    color: var(--black);
    text-decoration: none;
}

.main .shopIcon svg{
    font-size: 24px;
    margin-right: 20px;
    color: rgb(222, 224, 234);
}

/* Buttons & Cart */

.main .login-register {
    padding: 10px;
    text-align: center;
    background-color: #5abed8;
    text-decoration: none;
    color: var(--black);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.main .login-register:hover {
    background-color: var(--secondary-color);
    color: var(--main-color);
}

.basketCount {
    position: relative;
    left: 28px;
    bottom: 8px;
    background-color: var(--secondary-color);
    padding: 2px;
    border-radius: 100%;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}

.btn-login {
    font-size: 14px;
}

/* Dropdown Menu ? Logged In */

.dropdown {
    margin-left: 10px;
    margin-right: 10px;
}

.dropdown-menu.show a:hover {
    color: var(--black);
}

/* Navbar - Responsive */

@media (max-width: 1200px) {
    .navbar .productText {
        width: 150px;
        font-size: 15px;
        margin-bottom: 5px;
    }
}

@media (max-width: 500px) {
    .navbar .main .productLogo{
        height: 60px;
        margin-left: 10px;
    }
    .btn-login {
        font-size: 10px;
    }
    .navbar .LinkMain {
        width: 100%;
    }
    .navbar .productText {
        display: none;
    }
    .navbar .navbar-item {
        font-size: 12px;
        margin-right: 10px;
    }
    .main .login-register{
        font-size: 10px;
        margin-right: 10px;
        padding: 6px;
    }
    .computers .computerTitle {
        font-size: 25px;
    }
    .main .shopIcon svg{
        font-size: 16px;
        margin-right: 15px;
    }
    .basketCount {
        left: 21px;
        bottom: 5px;
        font-size: 8px;
    }
    .dropdown button {
        font-size: 10px;
        margin-right: 10px;
        padding: 2px;
        width: 100%;
    }
}