/* Settings Main */

.settings-main {
    height: 80vh;
    background-color: var(--main-color);
}

.settings-title {
    padding: 50px;
    font-size: 50px;
    color: var(--secondary-color);
    text-align: center;
}

/* Change Theme */

.change-theme-container {
    display: flex;
    flex-direction: column;
}

.theme-title {
    font-size: 24px;
    color: var(--secondary-color);
    margin-left: 80px;
    text-decoration: underline;
}

.theme-button {
    margin-left: 80px;
    margin-top: 20px;
    border: none;
}

/* Delete Account Section */

.buttons-container {
    display: flex;
}

.delete-container {
    display: flex;
    flex-direction: column;
}

.delete-title {
    font-size: 24px;
    color: var(--secondary-color);
    margin-left: 80px;
    text-decoration: underline;
}

.delete-btn {
    margin-left: 80px;
}

.delete-information, .delete-information-title {
    margin-left: 80px;
    margin-top: 10px;
}

.delete-information-title {
    color: var(--secondary-color);
}

.delete-information {
    color: var(--white);
}

/* Settings - Responsive */

@media (max-width: 768px) {
    .theme-title, .theme-button, .delete-title, .delete-information-title, .delete-information, .delete-btn {
        margin-left: 30px;
        margin-right: 30px;
    }
}