/* User Details Main */

.user-main {
    height: 70vh;
    background-color: #041e2f;
}

.user-main .user-title {
    padding: 50px;
    font-size: 50px;
    color: rgba(255, 222, 173, 0.867);
    text-align: center;
}

/* User Details */

.details-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.details-item {
    border: 2px solid #dee0ea;
    border-radius: 10px;
    margin-bottom: 30px;
}

.details-item .label-item {
    font-size: 26px;
    color: rgba(255, 222, 173, 0.867);
    padding: 25px;
    width: 175px;
    border-right: 2px solid #dee0ea;
}

.details-item .detail-exp {
    color: #dee0ea;
    font-size: 18px;
    margin-right: 30px;
    margin-left: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.details-item .details-input {
    
}