/* User Details Main */

.user-main {
    height: 70vh;
    background-color: #041e2f;
}

.user-main .user-title {
    padding: 50px;
    font-size: 50px;
    color: rgba(255, 222, 173, 0.867);
    text-align: center;
}

/* User Details */

.userDetails-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.userPage {
    display: flex;
    gap: 50px;
}

.userAvatar {
    padding: 50px;
    border-radius: 10px;
}

.userAvatar .avatar-preview {
    width: 250px;
}

.file-upload {
    margin-top: 30px;
    color: #dee0ea;
}

.details-item {
    border: 2px solid #dee0ea;
    border-radius: 10px;
    margin-bottom: 30px;
}

.details-item .label-item {
    font-size: 24px;
    color: rgba(255, 222, 173, 0.867);
    padding: 25px;
    width: 175px;
    border-right: 2px solid #dee0ea;
}

.details-item .detail-exp {
    color: #dee0ea;
    font-size: 18px;
    margin: 0 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.details-item .details-input {
    width: 15%;
    margin: 0 30px;
    height: 40px;
    border: none;
    border-bottom: 1px solid #dee0ea;
    color: #dee0ea;
    background-color: transparent;
}

.details-input::placeholder {
    font-weight: bold;
    color: #dee0ea;
    font-family: Arial, Helvetica, sans-serif;
}
.details-input:focus {
    outline: none;
}

.icon svg {
    width: 400px;
    height: 400px;
    border: 1px solid #dee0ea;
    border-radius: 10px;
    color: #dee0ea;
}

/* Buttons */

.button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.detail-button {
    width: 30%;
    margin-bottom: 30px;
}

.back-button {
    color: #dee0ea;
}

.image-avatar {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

/* UserDetails - Responsive */

@media (max-width: 500px) {
    .user-main {
        height: 145vh;
    }
    .userPage {
        display: block;
    }
    .icon svg {
        width: 200px;
        height: 200px;
    }
    .userAvatar .avatar-preview {
        text-align: center;
        width: 200px;
        justify-content: center;
    }
    .image-avatar {
        width: 290px;
        height: 290px;
    }
    .file-upload {
        display: none;
    }
    .details-item {
        display: flex;
        flex-direction: column;
    }
    .details-item .label-item {
        font-size: 18px;
        width: 125px;
        border-right: none;
    }
    .details-item .details-input {
        width: auto;
        margin: 20px 15px;
    }
    .detail-button {
        width: 100%;
    }
}