@import url('bootstrap/dist/css/bootstrap.min.css');

[data-theme] {
    will-change: background, color;
}

:root {
    --main-color: #041e2f;
    --secondary-color: rgba(255, 222, 173, 0.867);
    --dark-white: #dee0ea;
    --white: #fff;
    --black: #000;
}

[data-theme="dark"] {
    --main-color: #111111;
    --secondary-color: #2980b9;
    --dark-white: #dee0ea;
    --white: #fff;
    --black: #000;
}

[data-theme="cream"] {
    --main-color: rgba(255, 222, 173, 0.867);
    --secondary-color: #041e2f;
    --dark-white: #dee0ea;
    --white: #fff;
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input-error {
    border-color: #fc8181;
}

.error {
    color: #fc8181;
    font-size: 12px;
    text-align: left;
}

.btn-warning {
    background-color: #dee0ea;
    border-color: #dee0ea;
    margin-right: 10px;
}

.btn-warning:hover{
    background-color: rgba(255, 222, 173, 0.867);
}

.btn-info {
    background-color: #f1a10d;
    border-color: #f1a10d;
    --bs-btn-border-color: #f1a10d;
    --bs-btn-hover-bg: rgba(255, 222, 173, 0.867);
    --bs-btn-hover-border-color: rgba(255, 222, 173, 0.867);
    --bs-btn-active-bg: #f1a10d;
    --bs-btn-disabled-bg: #f1a10d;
    --bs-btn-disabled-border-color: #f1a10d;
    --bs-btn-active-border-color: #f1a10d;
}

.btn-info:hover {
    background-color: rgba(255, 222, 173, 0.867);
}

.btn-danger {
    margin-top: 20px;
    width: 232px;
}

.logOut {
    color: #000;
    background-color: #fc8181;
    margin-left: 20px;
}

.logOut:hover {
    color: #000;
    background-color: #f1a10d;
}